<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2 class="text-white card-title">
          {{ card.name }}
        </h2>
      </div>
      <div class="col-4 align-self-center">
        <img src="assets/svg/ic-boxes.svg"
             title="Quantidade"
             alt="Quantidade"
             class="me-1 img-fluid"
             loading="lazy"
             width="30"
             height="30">
        <span>
          {{ card.quantity }}
        </span>
      </div>
      <div class="ms-auto col-auto">
        <a role="button"
           (click)="clickEditButton(card.name)"
           type="button"
           data-bs-toggle="offcanvas"
           data-bs-target="#offcanvasWithBackdrop"
           aria-controls="offcanvasWithBackdrop"
           class="d-block">
          <img src="assets/svg/ic-edit.svg"
               title="Edit"
               alt="Edit"
               class="img-fluid"
               loading="lazy"
               width="45"
               height="45">
        </a>
      </div>
      <div class="col-auto">
        <a type="button"
           data-bs-toggle="offcanvas"
           data-bs-target="#offcanvasWithBackdrop"
           aria-controls="offcanvasWithBackdrop"
           class="d-inline-block"
           (click)="clickDeleteButton(card.name)">
          <img src="assets/svg/ic-remove.svg"
               title="Edit"
               alt="Edit"
               class="img-fluid"
               loading="lazy"
               width="45"
               height="45">
        </a>
      </div>
    </div>
  </div>
</div>