@import "frontend/breakpoint-dependencies";

.card {

  &-body {

    text-align: left;
  }

  &-title {

    font-size: 1.5rem;
    margin-bottom: 1.25rem;

    @include media-breakpoint-up(lg) {

      margin-bottom: 0;
    }
  }
}