<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <app-icon pathImage="assets/svg/ic-hamburguer.svg"
                    title="Menu"
                    aria-label="Menu"
                    [width]="30"
                    [height]="30"></app-icon>
        </button>
        <div class="col-auto order-lg-2">
          <app-icon pathImage="assets/svg/ic-boxes.svg"
                    [width]="25"
                    [height]="25">
          </app-icon>
          <ng-container *ngIf="(marketList$ | async) as marketList">
            <span class="text-success fw-bold">
              {{ marketList.length }}
            </span>
          </ng-container>
        </div>
        <div class="col-12 col-lg-auto order-lg-1">
          <div class="collapse navbar-collapse"
               id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <ng-container *ngFor="let link of headerLinks">
                <app-link [linkProperties]="link"
                          [title]="link.title"
                          classLink="me-lg-1 nav-link"></app-link>
              </ng-container>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>
</header>