<app-panel-content additionalClass="pt-3 pt-lg-6">
  <div class="container">
    <div class="row">
      <div class="col-auto">
        <app-button-back [routerLink]="''"></app-button-back>
      </div>
    </div>
  </div>
  <app-structure-container>
    <div class="col-lg-8">
      <ng-container *ngIf="(movies$ | async) as marketList; else statusApiTemplate">
        <div [@listAnimation]="marketList.length">
          <ng-container *ngFor="let movie of marketList">
            <div>
              <app-card [card]="movie"
                        (editEvent)="getProductId($event); typeOfActionManagerMarketList = 'edit'"
                        (buttonAction)="getProductId($event); typeOfActionManagerMarketList = 'delete'"></app-card>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <ng-template #statusApiTemplate>
      <ngx-skeleton-loader [theme]="{width: '100%', height: '95px', marginBottom: '14px', borderRadius: '1.5rem'}"
                           [count]="7"></ngx-skeleton-loader>
    </ng-template>
  </app-structure-container>
  <app-fab (fabClick)="typeOfActionManagerMarketList = 'insert'"></app-fab>

</app-panel-content>

<app-offcanvas [productData]="this.productData"
               [managerType]="typeOfActionManagerMarketList"></app-offcanvas>