$mind-seagel:    #171618;
$gray-600: #6c757d;
$green:   #198754;
$cyan:    #0dcaf0;
$yellow:  #ffc107;
$red:     #dc3545;
$gray-100: #f8f9fa;
$gray-900: #212529;

$primary:       $mind-seagel;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;