<app-panel-content additionalClass="pt-2 pb-4 py-lg-0">
  <app-structure-container additionalRowClass="align-items-lg-center justify-content-center justify-content-lg-around">
    <div class="col-10 col-lg-4">
      <img src="assets/svg/ic-avatar-one.svg"
           title="Welcome"
           alt="Welcome"
           class="img-cover word-animation"
           loading="lazy">
    </div>
    <div class="mt-2 mt-lg-0 col-lg-6">
      <h1>
        A simple Angular CRUD
      </h1>
      <p class="mb-3">
        A simple Angular CRUD project with some and cools tecnologies!
      </p>
      <app-card-panel>
        <h2 class="display-7">
          Tecnologies
        </h2>
        <ul class="mb-2 mb-lg-3 text-start list-unstyled d-flex justify-content-center">
          <ng-container *ngFor="let listItem of toDoList">
            <li>
              <img [src]="'assets/svg/logo-'+listItem.name+'.svg'"
                   [title]="listItem.title"
                   [alt]="listItem.title"
                   class="mx-1 img-fluid tecnologie-logo"
                   loading="lazy"
                   width="40"
                   height="40">
            </li>
          </ng-container>
        </ul>
        <div class="d-grid">
          <a routerLink="/dashboard"
             class="btn d-block btn-secondary">
            GO
          </a>
        </div>
      </app-card-panel>
    </div>
  </app-structure-container>
</app-panel-content>