<app-panel-content>
  <div>
    <app-button-back [routerLink]="'/dashboard'"></app-button-back>
    <app-structure-container>
      <div class="col-lg-8">
        <ng-container *ngIf="(movies$ | async) as movies; else statusApiTemplate">
          <div [@listAnimation]="movies.length">
            <ng-container *ngFor="let movie of movies">
              <div class="mb-1">
                <app-card [card]="movie" (editEvent)="editMovies($event)"></app-card>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <ng-template #statusApiTemplate>
        dsdas
      </ng-template>
    </app-structure-container>
  </div>
  <app-fab rounterLink="novo"></app-fab>
</app-panel-content>