<app-panel-content>
  <app-structure-container additionalRowClass="align-items-lg-center justify-content-center justify-content-lg-between">
    <div class="order-2 order-lg-1 col-lg-6">
      <div class="text-white text-lg-start">
        <h1 class="display-2">
          Angular CRUD
        </h1>
        <p class="mb-lg-3">
          A simple Angular CRUD with State Management. Our options data!
        </p>
      </div>
      <div class="mt-2 d-grid gap-1 col-lg-6">
        <ng-container *ngFor="let buttonNavigation of buttonsToNavigate; let odd = odd">
          <app-link [linkProperties]="buttonNavigation"
                    [classLink]="odd ? 'btn d-block btn-success' : 'btn d-block btn-secondary'"></app-link>
        </ng-container>
      </div>
    </div>
    <div class="order-1 order-lg-2 col-10 col-lg-6">
      <app-icon class="img-cover-width"
                pathImage="assets/svg/ic-shape-home.svg"
                [width]="800"
                [height]="800"
                title="A simple Angular CRUD"></app-icon>
    </div>
  </app-structure-container>
</app-panel-content>
