<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="offcanvasWithBackdrop"
     data-bs-scroll="true"
     aria-labelledby="offcanvasWithBackdropLabel">
  <div class="pb-0 offcanvas-header">
    <button type="button"
            class="ms-auto btn btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            (click)="closeOffcanvas()">
      <app-icon pathImage="assets/svg/ic-close.svg"
                [width]="20"
                [height]="20"></app-icon>
    </button>
  </div>
  <div class="pt-0 offcanvas-body">
    <ng-container *ngIf="managerType != 'delete'; else deleteIcon">
      <app-icon [pathImage]="managerType === 'insert' ? 'assets/svg/ic-custom-shape-insert.svg' : 'assets/svg/ic-custom-shape-one.svg'"
                [width]="250"
                [height]="250"></app-icon>
      <h2 class="mb-1">
        {{ managerType === 'insert'
          ? 'New product'
          : 'Edit yout product'
        }}
      </h2>
      <p class="mb-3">
        {{ managerType === 'insert'
          ? 'Pleae, insert your new product in your Market List!'
          : 'Pleae, update your product in your Market List!'
        }}
      </p>
      <app-form [typeOfManager]="this.managerType"></app-form>
    </ng-container>
    <ng-template #deleteIcon>
      <app-icon pathImage="assets/svg/ic-shape-delete.svg"
                [width]="250"
                [height]="250"></app-icon>
      <h2 class="mb-1">
        OoOuuHh
      </h2>
      <p class="mb-3">
        You'll
        <span class="fw-bold">
          remove
        </span>
        the
        <span class="fw-bold text-danger">
          {{ productData.name }}
        </span>
        product permanently
        <br>
        are you sure about that?!
      </p>
      <div class="d-grid col-12">
        <button class="btn btn-danger text-white"
                (click)="submitFormValue()">
          Yeah, delete it!
        </button>
      </div>
    </ng-template>
  </div>
</div>