<app-panel-content>
  <section>
    <app-structure-container>
      <div class="col-lg-4">
        <app-card-panel>
          <ng-container *ngIf="(userData$ | async) as userData; else feedbackApiStatus">
            <app-board [iconName]="'svg/ic-avatar-two.svg'"
                       title="Our All Options"
                       description="See our all data to you to navigate"></app-board>
            <div class="mt-2 d-grid gap-1">
              <ng-container *ngFor="let buttonNavigation of buttonsToNavigate; let odd = odd">
                <app-default-button-link [buttonClass]="odd ? 'btn-success' : 'btn-secondary'"
                                         [buttonConfiguration]="buttonNavigation">
                </app-default-button-link>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #feedbackApiStatus>
            <ng-container *ngIf="(userDataApiError$ | async); else loadingData">
              <app-board iconName="images/ic-dark-mode.png"
                         title="Não conseguimos obter os dados :("
                         description="Não conseguimos obter os dados tente novamente mais tarde!"></app-board>
            </ng-container>
            <ng-template #loadingData>
              <app-board iconName="svg/spinner.svg"
                         title="Obtendo todos os dados!"
                         description="Aguarde enquanto buscamos todos os dados!"></app-board>
            </ng-template>
          </ng-template>
        </app-card-panel>
      </div>
    </app-structure-container>
  </section>
</app-panel-content>
<router-outlet></router-outlet>
