<app-panel-content>
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <ng-container *ngIf="(userData$ | async) as userData; else feedbackApiStatus">
                <img [src]="'assets/svg/'+ userData.avatar +'.svg'"
                     title="Avatar"
                     alt="Avatar"
                     class="mb-2 img-fluid"
                     loading="lazy"
                     width="100"
                     height="100">
                <h1>
                  {{ userData.name }}
                </h1>
                <p class="mb-2">
                  {{ userData.email }}
                </p>
                <div class="d-grid gap-1">
                  <button class="btn btn-success text-white"
                          type="button">Movies
                  </button>
                  <button class="btn btn-secondary"
                          type="button">Courses
                  </button>
                </div>
              </ng-container>
              <ng-template #feedbackApiStatus>
                <ng-container *ngIf="(userDataApiError$ | async); else loadingData">
                  <img src="assets/images/ic-dark-mode.png"
                       title="Loading"
                       alt="Loading"
                       class="mb-2 img-fluid"
                       loading="lazy"
                       width="100"
                       height="100">
                  <h2 class="text-danger">
                    Não conseguimos obter os dados :(
                  </h2>
                  <p class="mb-0">
                    Não conseguimos obter os dados
                    <br>
                    tente novamente mais tarde!
                  </p>
                </ng-container>
                <ng-template #loadingData>
                  <img src="assets/svg/spinner.svg"
                       title="Loading"
                       alt="Loading"
                       class="mb-2 img-fluid"
                       loading="lazy"
                       width="150"
                       height="150">
                  <h2>
                    Obtendo todos os dados!
                  </h2>
                  <p class="mb-0">
                    Aguarde enquanto buscamos
                    <br>
                    todos os dados!
                  </p>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-panel-content>
